

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
    background:gray;
    font-size: 16px;
}

body {
	
}

#main
{
	padding-bottom:100px;
	height: 90%;
	width:80%;
	margin:auto;
}

.mainrow
{
	height:100%;
}

.maincol
{
	height:100%;
}
.row
{
	padding-top: 2px;
	padding-left:0;
	padding-right:0;
	margin:0;
}

.col-md-8, .col-md-4
{
	padding:0;
	margin:0;
}

#chatwindow
{
	height:100%;
	overflow-y: scroll;
	padding:0;
	margin:0;
	background:white;
}

#userWindow
{
    height:100%;
	padding:0;
	margin:0;
	background:white;
}

table
{
	width:100%;	
	table-layout: fixed;
	word-break:break-all;
	font-size: 16px;
}

.charuserbox
{
	width:100px;
	padding:0px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
	padding:0px;
	vertical-align:middle;
}

tbody>tr>td>p
{
	margin:0px;
}

/* User Input Window */

#userinput
{
	vertical-align: middle;
	width:100%;
}

#dropUpCaret
{
	margin-left:10px;
}

#chatimg
{
	width:50px;
	height:50px;
}

/* Menu bar */
.navbar 
{ 
	min-height:20px;
	margin-bottom:0px;
	padding:5px;  
}

.navbar .navbar-brand
{
	padding: 0 12px;

	line-height: 20px;
	height: 20px; 
}

.navbar .navbar-nav > li > a 
{  
	padding-top: 0px; 
	padding-bottom: 0px; 
	line-height: 20px;
}

.navbar .navbar-toggle 
{  
	margin-top: 3px;
	margin-bottom: 0px; 
	padding: 8px 9px; 
}
.navbar .navbar-form 
{
	margin-top: 2px; 
	margin-bottom: 0px; 
}

/*Sign in*/

.form-signin
{
	max-width:500px;
	margin:auto;
	padding:50px;
}
.form-signin>input
{
	margin-top:10px;
}
.form-signin>button
{
	margin-top:10px;
	width:100px;
	float:right;
}